{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/cart_detail.css' %}">
{% endblock %}

{% block title %}
Your shopping cart
{% endblock %}

{% block content %}
<h1>Your shopping cart</h1>
<table border="0">
	<thead>
	<tr>
		<th>Product</th>
		<th>Quantity</th>
		<th>Unit price</th>
		<th>Price</th>
		<th>Remove</th>
	</tr>
	</thead>
	<tbody>
	{% for item in cart %}
	{% with product=item.product %}
	<tr>
		<td>{{ product.name }}</td>
		<td>
			<form action="{% url 'cart:cart_add' product.id %}" method="post">
				{{ item.update_quantity_form.quantity }}
				{{ item.update_quantity_form.update }}
				<input type="submit" class="button2" value="Update">
				{% csrf_token %}
			</form>
		</td>
		<td class="num">${{ item.price }}</td>
		<td class="num">${{ item.total_price }}</td>
		<td><a class="button2" href="{% url 'cart:cart_remove' product.id %}">X</a></td>

	</tr>
	{% endwith %}
	{% endfor %}

	</tbody>
</table>
<h2>
	Total: {{ cart.get_total_price }} PLN
</h2>
<p>
	<a href="{% url 'shop:all_products' %}" class="button light">Continue shopping</a>
	<a href="{% url 'orders:order_create' %}" class="button">
		Checkout
	</a>
</p>
{% endblock %}
