/* Style the content */
.content {
  padding: 10px;
  text-align: center;
}

hr {
  max-width: 1530px;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
}

.grid-container > div {
  background-color: #F5F5F5;
}

.grid-container a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.grid-container p {
  display: inline-block;
  max-width: 480px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .grid-container {
    grid-template-columns: 100%;
  }
}

