/* Style the content */
.content {
  padding: 10px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}
/* Left column */
.column.left {
  width: 25%;
}

/* Right column */
.column.right {
  width: 75%;
}

/* Image */
.column-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 280px));
  grid-template-rows: auto;
  grid-gap: 15px;
}

.column-container > div {
  background-color: white;
}

.column-container > div:hover {
  background-color: #ddd;
}

.column-container a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.column-container p {
  margin-left: 10px;
}

/* Image */
img {
    max-width:280px;
    max-height:280px;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Side navigation links */
.column.left a {
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.column.left a:hover {
  background-color: #ddd;
  color: black;
}

@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
