<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<title>Art by Anna</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% block extrahead %}
	{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="topnav">
	{% with total_items=cart|length %}
	{% if cart|length > 0 %}

	<a href="{% url 'cart:cart_detail' %}">Cart:
		{{ total_items }} product{{ total_items|pluralize:"s" }},
		{{ cart.get_total_price }} PLN
	</a>
	{% else %}
	<a>Cart is empty.</a>
	{% endif %}
	{% endwith %}
</div>

<header>
    <a class="page-title" href="{% url 'shop:home' %}">ART BY ANNA ILNICKA-KAWA</a>
</header>

<navbar>

</navbar>

<body>
{% block content %}
{% endblock %}
</body>

<footer>
	<div class="footer">
		<p>@artbyannailnickakawa</p>
	</div>
</footer>