{% extends 'base.html' %}
{% load static %}

<head>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}
<div class="content">
    <h1> Choose a category </h1>
    <br/>
    <ul>
        {% for category in category_list %}
        <li>
            <a href="{% url 'shop:products_by_category' category.slug %}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
</body>