{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}


<body>
{% block content %}
<div class="content">
	<hr>
	<div class="grid-container">
		{% for category in category_list %}
		<div>
			<img src="{{ category.image.url }}">
			<div>
				<a href="{% url 'shop:products_by_category' category.slug %}">{{ category.name }}</a>
			</div>
			<div>
				<p>{{category.description}}</p>
			</div>
		</div>
		{% endfor %}
	</div>

</div>
</div>
{% endblock %}
</body>