{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Categories:</h1>
<a href="{% url 'shop:all_products' %}" class="list-group-item">All</a>
{% for category in category_list %}
<a href="{% url 'shop:products_by_category' category.slug %}">{{ category.name }}</a>
{% endfor %}
<br/>

{% for product in product_list %}
<img src="{{ product.image.url }}">
<br/>

<a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a>
<h4>{{ product.price }} PLN</h4>
<p>{{ product.description }}</p>

{% endfor %}

{% endblock %}

