{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Categories:</h1>
            <div class="list-group">
                <a href="{% url 'shop:all_products' %}" class="list-group-item">All</a>
                {% for category in category_list %}
                <a href="{% url 'shop:products_by_category' category.slug %}" class="list-group-item">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            {% for product in product_list %}
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" width="350" height="600">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="{% url 'shop:product_detail' product.slug %}" >{{ product.name }}</a>
                    </h3>
                    <h4>{{ product.price }} PLN</h4>
                    <p class="card-text">{{ product.description }}</p>

                </div>
            </div>
            <!-- /.card -->
            {% endfor %}
        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

{% endblock %}

